{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h2>Articles!</h2>

    {% for article in articles %}
        <h4>{{ article }} </a></h4>
        {% if article.photofilename %}
            <img src="{{ asset('uploads/photos/' ~ article.photofilename) }}" />
        {% endif %}
        <p>
            <a href="{{ path('article', { id: article.id }) }}">View</a>
        </p>
    {% endfor %}

    {% if previous >= 0 %}
        <a href="{{ path('homepage', {  offset: previous }) }}">Previous</a>
    {% endif %}
    {% if next < articles|length %}
        <a href="{{ path('homepage', {  offset: next }) }}">Next</a>
    {% endif %}
{% endblock %}